@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    font-family: 'S-CoreDream-3Light';
}

.bg-dark {
    font-family: 'ONE-Mobile-Title';
}
.bg-primary {
    font-family: 'ONE-Mobile-Title';
}
#contact {
    font-family: 'ONE-Mobile-Title';
}
#portfolio {
    font-family: 'ONE-Mobile-Title';
}
.header-content {
    font-family: 'ONE-Mobile-Title';
}
#services {
    font-family: 'ONE-Mobile-Title';
}

#recomm {
    padding: 1vw;
    font-size: 2.5vw;
    text-align: center;
}