<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"></h2>
                <hr class="light">
                <h3>카툰네트워크의 역사</h3>
                <p class="text-faded">카툰네트워크는 1992년 뉴스매체 CNN으로 유명한 테드 터너의 터너사가 해나-바베라 프로덕션을 인수하면서 얻어온 애니메이션 작품들을 활용하고자 개국했습니다. <br>이후 터너 사가 타임 워너와 합병하면서 워너 계열로 들어왔고, 현재 프로덕션 부문은 워너 브라더스 애니메이션 산하에 있습니다.<br>2019년 3월 4일에 발표된 워너 미디어의 조직 개편안에 따라 워너 브라더스 산하로 편입되었습니다.</p>
                <p class="text-faded">카툰네트워크가 주로 방송하는 프로그램은 산하 카툰네트워크 스튜디오(Cartoon Network Studios)가 기획해 외주를 맡기거나 자체 제작한 텔레비전 애니메이션과 해나-바베라 제작 작품, 워너 브라더스 제작 작품, 미국 내 타 회사 제작 작품 등이 있습니다.</p>
                <a href="#" class="btn btn-default btn-xl">관련 소식 보기</a>
            </div>
        </div>
    </div>
</section>
