<footer>
    <div class="inner">
      <ul class="menu">
        <li><a href="https://www.warnermediaprivacy.com/policycenter/b2c/children/ko/" class="orange">개인정보처리방침</a></li>
        <li><a href="https://main.cartoonnetworkkorea.com/terms-of-use">이용약관</a></li>
        <li><a href="https://main.cartoonnetworkkorea.com/faq">FAQS</a></li>
        <li><a href="https://main.cartoonnetworkkorea.com/cn-cuetones">카톡 큐톤 게시판</a></li>
        <li><a href="https://main.cartoonnetworkkorea.com/boomerang-cuetones">부메랑 큐톤 게시판</a></li>
        <li><a href="https://main.cartoonnetworkkorea.com/contact-advertising">광고문의</a></li>
      </ul>
      <div class="btn-group">
        <a href="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EC%B9%B4%ED%88%B0%EB%84%A4%ED%8A%B8%EC%9B%8C%ED%81%AC+%ED%8E%B8%EC%84%B1%ED%91%9C&oquery=%EC%B9%B4%ED%88%AC%EB%8B%88%ED%86%A0+%ED%8E%B8%EC%84%B1%ED%91%9C&tqi=h8Rs9wprvTVssuq3ykCssssssIh-499835" class="btn btn--white">카톡 네트워크 편성표</a>
        <a href="https://search.naver.com/search.naver?sm=tab_sug.top&where=nexearch&query=%EB%B6%80%EB%A9%94%EB%9E%91+%ED%8E%B8%EC%84%B1%ED%91%9C&oquery=%EC%B9%B4%ED%88%B0%EB%84%A4%ED%8A%B8%EC%9B%8C%ED%81%AC&tqi=h8RsQlp0YiRssDD74ZossssstdN-390321&acq=%EB%B6%80%EB%A9%94%EB%9E%91+%ED%8E%B8%EC%84%B1&acr=1&qdt=0" class="btn btn--white">부메랑 편성표</a>
      </div>
      <div class="info">
        <span>사업자등록번호 000-00-000000</span>
        <span>(주)카툰네트워크 코리아</span>
        <span>TEL : 010) 4723-7126</span>
        <span>웹페이지 제작/책임자 : 조혜준</span>
      </div>
      <p class="copyright">
        ⓒ 2023 CartoonNetwork. All Rights Reserved.
      </p>
    </div>
  </footer>